body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 100, 235);
    height: 3em;
    margin-bottom: 2vh;
}

.header button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    text-shadow: 2px 2px 2px black;
}

.header button:hover {
    background-color: rgb(104, 159, 241);
    cursor: pointer;
}

.logo {
    display: flex;
    width: 20%;
    height: 100%;
}

.logo-img {
    width: 3em;
    height: 3em;
    padding: 0.3em;
    box-sizing: border-box;
}

.logo-img:hover {
    background-color: rgb(104, 159, 241);
}

.logo button {
    font-size: larger;
}

.navbar {
    display: flex;
}

.navbar button {
    margin-left: 1em;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.filter {
    margin-bottom: 2vh;
}

.filter input {
    color: rgb(200, 200, 200);
}

.filter input:focus {
    color: rgb(0, 0, 0);
}

.users-search-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.users {
    display: flex;
    flex-wrap: wrap;
}

.user {
    display: flex;
    flex-direction: column;
    width: 11em;
    height: 12em;
    box-sizing: border-box;
    border: 0.2em solid rgb(200, 200, 200);
    border-radius: 2%;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 1em;
}

.user img {
    width: 5em;
    height: 5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-radius: 5%;
}

.user button {
    width: 6em;
    margin-bottom: 1em;
}

.followees-container {
    display: flex;
    flex-flow: column wrap;
    border: 0.4em solid rgb(200, 200, 200);
    border-radius: 2%;
    width: 25%;
    margin-top: 2em;
    align-items: center;
    min-width: 20em;
}

.followees-container span:first-child {
    font-size: x-large;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.followees-container .user {
    margin-left: 0;
    margin-bottom: 0.5em;
}